body {
  height: 100%;
  margin: 0;
}

#col1 {
  position: fixed;
  width: 40%;
  float: left;
  min-height: 100%;
  border-right: 1px solid #8b8b8b;
  background-color: #d7d7d7;
  z-index: 1;
}

#col2 {
  position: fixed;
  left: 40%;
  width: 60%;
  float: right;
  min-height: 100%;
  background-color: #d7d7d7;
  z-index: 0;
}

.square {
  background-color: #f1f1f1;
  border: 1px solid #979797;
  width: 20px;
  height: 300px;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
}

.s1 {
  float: right;
  right: 30px;
}

.s2 {
  float: left;
  left: 30px;
}

#topic {
  text-align: left;
  font-family: 'Kanit';
  font-size: 550%;
  margin-left: 7%;
  margin-top: 30%;
  margin-bottom: 0;
  line-height: normal;
  color: black;
}

@font-face {
  font-family: 'Arvil';
  src: url(../css/Arvil.ttf);
}

#box {
  background-color: #ffdd00;
  width: 180px;
  height: 24%;
  top: 73%;
  left: 6%;
  z-index: -1;
  position: absolute;
}

#wrap-text {
  position: relative;
}

#contact {
  position: relative;
  left: 7%;
  top: -50%;
  width: 16%;
  height: 2%;
  background-color: #e0e0e0;
  border: 1px solid #787878;
  border-radius: 25px;
}

#contact:hover {
  opacity: 1;
-webkit-animation: flash 1.5s;
animation: flash 1.5s;
}
@-webkit-keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}
}
@keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}
}

#contxt {
  font-family: 'Roboto Condensed';
  color: #787878;
  line-height: 0px;
  text-align: center;
}

a {
  text-decoration: none;
}

#col3 {
  position: fixed;
  left: 40%;
  width: 60%;
  float: right;
  min-height: 100%;
  background-color: #f6f6f6;
  z-index: -1;
  }

#fridge {
  position: absolute;
  background-color: #fcfcfc;
  border: 1px solid #c7c7c7;
  border-radius: 25px;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#bar1 {
  position: relative;
  background-color: #dbdbdb;
  width: 80%;
  height: 2%;
  margin: auto;
  left: 0;
  right: 0;
  top: 16%;
  bottom: 0;
}

#bar2 {
  position: relative;
  background-color: #dbdbdb;
  width: 80%;
  height: 2%;
  margin: auto;
  left: 0;
  right: 0;
  top: 28%;
  bottom: 0;
}

.search {
  position: absolute;
  width: 11%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 6%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#finding {
  position: relative;
  font-family: 'Roboto Condensed';
  font-size: 180%;
  top: 17%;
  line-height: normal;
  text-align: center;
  color: #787878;
}

.menu {
  position: absolute;
  width: 11%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 38%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#list {
  position: relative;
  font-family: 'Roboto Condensed';
  font-size: 180%;
  top: 30%;
  text-align: center;
  color: #787878;
}

.update {
  position: absolute;
  width: 11%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 68%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#upBlock {
  position: relative;
  font-family: 'Roboto Condensed';
  font-size: 180%;
  top: 42%;
  text-align: center;
  color: #787878;
}

a {
  text-decoration: none;
}

.search:hover {
  opacity: .5;
}

.menu:hover {
  opacity: .5;
}

.update:hover {
  opacity: .5;
}
